/*section 1 du Hero*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    
    background: url(img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
}
header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
   background: black; 
  /* background:blanchedalmond;*/
    color: aliceblue;
    padding: 0 2rem;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height: 2.2rem;
}
.logo {
    font-size: 2rem;
}
.toggle {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 550px
}
.menu li a {
    color: aliceblue;
    text-decoration: none;
}
.menu button {
    background-color: orangered;
}
.span{
    height: 600px;
    background-color:blanchedalmond; 
    justify-content: space-between;
   display: flex;
   padding-left: 90px;
}
.span h1{
    /* margin-top: 40px; */
    
}
.T {
    font-size: 3rem;
    margin-top: 70px;
}
.F {
    font-size: 20px;
    margin-top: 50px;
}
.btn {
    border: 0;
    background: pink;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
/*section span*/
.steps {
    margin-top: 70px;  
  }
  .vert{
    background-color: orangered;
    border: 0;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    
}
.blan{
    background-color:aliceblue;
    border: 0;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.fa img{
    width:600px;
    height: 550px;
    margin-right: 60px;
    padding-top: 100px;
}
.fan {
    display: flex;
    margin-top: 70px;
    padding-left: 290px;
}
.fan span {
    color: chocolate;
}
.B {
    display: flex;
    height: 50px;
    margin-top: 50px;
    justify-content: space-between;
}
.Z {
    text-align: center;
    margin-top: 20px;
}
.Z h3 {
    margin-top: 40px;
}
.Z h1 {
    font-size: 3rem; 
}
h5 {
    margin-top: 150px;
    padding-left: 290px;
    color: chocolate;
}
.c{
    background-color: aliceblue;
   
}
.C .Z {
    font-size: 3rem;
}
/* contentu 1 */
.rose{
    color: darkgrey;
    /* border: 0; */
    font-size: 4rem;
     margin-top: 200px; 
    /* padding-left: 290px;  */
}
    .djami{
        display: flex;
        justify-content: space-around;
    }
.fant {
     /* padding-left: 290px; */
    margin-top: 70px;  
    font-size: 40px;
}
.bleur {
    margin-top: 40px;
    /* padding-left: 290px; */
    font-size: 1.25rem;
}
.D{
    padding-top: 50px;
    
    /* background-color: aliceblue;
    display: flex; */
}
.fari{
    width: 300px;
    height: 500px;
    justify-content: space-between;
    padding-left: 20px;
}
/* contenu 2 */
.G{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
}

.violet{
    color:darkgrey;
    font-size: 4rem;
    margin-top: 200px; 
}
.farida {
   margin-top: 70px;  
   font-size: 40px;
}
.noir {
    margin-top: 40px;
    font-size: 1.50rem;
}
/* contenu 3 */
.faridat{
    display: flex;
    justify-content: space-around;
}
.marron{
    color: darkgrey;
    /* border: 0; */
    font-size: 4rem;
     margin-top: 200px; 
    /* padding-left: 290px;  */
}
.faridatou {
    /* padding-left: 290px; */
   margin-top: 70px;  
   font-size: 40px;
}
.M {
    margin-top: 40px;
    /* padding-left: 290px; */
    font-size: 1.25rem;
}
.chadi {
    padding-left: 700px;
    font-size: 1.50rem;
    color: chocolate;
    margin-top: 200px;

}
.chadia {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}

.fati img{
    width: 450px;
}
 .fati { 
     display: flex; 
   margin-top: 70px; 
     justify-content: space-between;
    padding-left: 100px;
    }
 /* contenaine chadi fin jupe*/
 .card h-50{
     width: 50px;
     height: 50px;
 }
.card-body span{
    background-color: limegreen;
    color: black;
   
}
.fas{
    /* width: 100px;
    height: 100px; */
    display: flex;
} 
.ta {
    display: flex;
    margin-top: 15px;
    padding-left: 20px;

}
.ive{
    display: flex;
}

.I {
    display: flex;
    margin-top: 13px; 
    padding-left: 20px;
} 
.jup {
    display: flex;
}

.jupe {
    display: flex;
    margin-top: 13px; 
    padding-left: 20px;
} 
.R {
    display: flex;
    margin-top: 20px; 
     padding-left: 15px;
} 
.ca {
    display: flex; 
}
.E {
    display: flex;
    margin-top: 5px; 
     padding-left: 15px;
}
.Y h6 {
    color:chocolate ;
    align-items: center;
    padding-left: 700px;
    margin-top: 30px; 
}

.contenair h5 {
color: chocolate;
   margin-top: 70px; 
   padding-left: 70px;
}
.contenair h1 {
   margin-top: 20px; 
      padding-left: 70px; 
}
.LG{
    padding-left: 70px;
}
.L{
    padding-left: 70px;
}
.S { 
    height: 75px;
    width: 75px;
    border-radius: 76%;
     
}
.H {
    padding-left: 70px;
    margin-top: 20px;
    justify-content: space-around; 
}
.x{
    height: 240px;
    width: 240px;
    padding-left: 15px;
}
.section-A{
    display: flex;
}
.section-B{
    display: flex;
}
.section-C{
    display: flex;
}
.section-D{
    display: flex;
}
.rightside{
    padding-top: 220px;
    
}
.compte h5 {
    color: chocolate;
    margin-top: 70px; 
    padding-left:50px;
}
.compte h1 {
    margin-top: 70px; 
    padding-left:50px;
}
/* .compte h1 {
    margin-top: 20px; 
    padding-left: 90px;
} */



.contenair{
    background-color: rgb(203, 198, 191);
    display: flex;
    justify-content: space-between;
    width: 100%; 
    /* padding: 0%; */
}
.lmk{
    /* background-color: yellow; */
    display: flex;
    width: 750px;
    height: 70%;
    margin-left: 13px;
    justify-content: space-between;
   
}
.JJ{
    padding-top: 0;
   
    /* background-color: aqua; */
}
.lmk img{
    border-radius: 50%;
    width: 60px;
    height: 50px;
    margin-top: 150px;
}
.U{
    display: flex;
}
.clg{
    /* background-color: black; */
    width: 100%;
    
    /* display: flex; */
    
}
.kk{
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 300px;
}
  
.LU{
    /* margin-right: 400px; */
    border: 2px solid brown;
    padding: 40px;
}
.URS{
    /*margin-right: 400px; */
    border: 1px solid brown;
} 

.compte{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
}
 
 .O{
    color: aliceblue;
    background-color: chocolate;
    margin-top: 40px;   
    padding: 10px;
    border-radius: 20px;
    border: none;
 }
 .UR{
     border: 2px solid brown;
     padding: 40px;
     background-color: antiquewhite;
 }
 .P h5{
     padding-left: 350px;
 }
 .P h2{
    padding-left: 350px;
    margin-top: 20px;
} 
.P h4{
    margin-top: 40px;
    color: chocolate;
}
.P h1{
    margin-top: 50px;
}



/*responsive*/
@media all and (max-width: 941px) {
    header {
        background: transparent;
    }
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
        color: black;
    }
    .logo {
        position: relative;
        z-index: 20;
    }
    .ouvrir {
        display: block;
    }
    
    .fermer {
        display: none;
    }
    
    .open .ouvrir {
        display: none;
    }
    
    .open .fermer {
        display: block;
    }
    
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: black;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .menu li a {
        font-size: 2rem;
    }
    .btn {
        font-size: 2rem;
    }
    
    .open .menu {
        transform: translateX(0);
}
}
/*header{
    background-color:blanchedalmond;
    padding: 0.1em;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
nav button{
    background-color: orangered;
}*/
