/*section 1 du Hero*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    
    background: url(img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
}
header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    color: aliceblue;
    padding: 0 2rem;
    background-color: antiquewhite;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height: 2.2rem;
}
.logo {
    font-size: 2rem;
}
.toggle {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 550px
}
.menu li a {
    color: black;
    text-decoration: none;
}
.menu button {
    background-color: orangered;
}
.span{
    height: 100%;
    background-color:blanchedalmond; 
    justify-content: space-between;
   display: flex;
   padding-left: 90px;
}

.T {
    font-size: 3rem;
    margin-top: 70px;
}
.F {
    font-size: 20px;
    margin-top: 35px;
}
.btn {
    border: 0;
    background: pink;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
/*section span*/
.steps {
    margin-top: 45px;  
  }
  .vert{
    background-color: orangered;
    border: 0;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    
}
.blan{
    background-color:aliceblue;
    border: 0;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.fa img{
    width:600px;
    height: 550px;
    margin-right: 60px;
    padding-top: 100px;
}
.fan {
    display: flex;
    margin-top: 70px;
    padding-left: 290px;
}
.fan span {
    color: chocolate;
   
}
.B {
    display: flex;
    height: 50px;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    opacity: 30%;
    filter: 50px;
}
.Z {
    text-align: center;
    margin-top: 20px;
}
.Z h3 {
    margin-top: 70px;
    padding-bottom: 50px;
}
.Z h1 {
    font-size: 3rem; 
}
h5 {
    margin-top: 150px;
    padding-left: 290px;
    color: chocolate;
}
.c{
    background-color: aliceblue;
   
}
.C .Z {
    font-size: 3rem;
}
/* contentu 1 */
.rose{
    color: darkgrey;
    /* border: 0; */
    font-size: 4rem;
     margin-top: 200px; 
    /* padding-left: 290px;  */
}
    .djami{
        display: flex;
        justify-content: space-around;
    }
.fant {
     /* padding-left: 290px; */
    /* margin-top: 30px;   */
    font-size: 40px;
}
.bleur {
    margin-top: 40px;
    /* padding-left: 290px; */
    font-size: 1.25rem;
}
.D{
    padding-top: 50px;
    
    /* background-color: aliceblue;
    display: flex; */
}
.fari{
    width: 300px;
    height: 500px;
    justify-content: space-between;
    padding-left: 20px;
}
/* contenu 2 */
.G{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
}

.violet{
    color:darkgrey;
    font-size: 4rem;
    margin-top: 200px; 
}
.farida {
   margin-top: 70px;  
   font-size: 40px;
}
.noir {
    margin-top: 40px;
    font-size: 1.50rem;
}
/* contenu 3 */
.faridat{
    display: flex;
    justify-content: space-around;
}
.marron{
    color: darkgrey;
    /* border: 0; */
    font-size: 4rem;
     margin-top: 200px; 
    /* padding-left: 290px;  */
}
.faridatou {
    /* padding-left: 290px; */
   margin-top: 70px;  
   font-size: 40px;
}
.M {
    margin-top: 40px;
    /* padding-left: 290px; */
    font-size: 1.25rem;
}
.chadi {
    padding-left: 700px;
    font-size: 1.50rem;
    color: chocolate;
    margin-top: 200px;

}
.chadia {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}

.fati img{
    width: 450px;
}
 .fati { 
     display: flex; 
   margin-top: 70px; 
     justify-content: space-between;
    padding-left: 100px;
    }
 /* contenaine chadi fin jupe*/
 .card h-50{
     width: 50px;
     height: 50px;
 }
.card-body span{
    background-color: limegreen;
    color: black;
   
}
.fas{
    /* width: 100px;
    height: 100px; */
    display: flex;
} 
.ta {
    display: flex;
    margin-top: 15px;
    padding-left: 20px;

}
.ive{
    display: flex;
}

.I {
    display: flex;
    margin-top: 13px; 
    padding-left: 20px;
} 
.jup {
    display: flex;
}

.jupe {
    display: flex;
    margin-top: 13px; 
    padding-left: 20px;
} 
.R {
    display: flex;
    margin-top: 20px; 
     padding-left: 15px;
} 
.ca {
    display: flex; 
}
.E {
    display: flex;
    margin-top: 5px; 
     padding-left: 15px;
}
.Y h6 {
    color:chocolate ;
    align-items: center;
    padding-left: 700px;
    margin-top: 30px; 
}
.AD{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-evenly;
    padding: 75px;
}
.contenair img{
    width: 70%;
    height: 50%;
}
.contenaire-1 img{
    width: 70%;
    height: 50%;
}
.EF span{
    /* background-color:green; */
    color: black;
    padding-left: 130px;
    font-size: 1.50rem;
}
.EF p{
    /* background-color:green; */
    color: black;
    padding-left: 50px;
    font-size: 2.25rem;
    margin-top: 20px;
}
.V{
    display: flex;
    margin-bottom: 25px;
}
.ive{
    display: flex;
    margin-bottom: 20px;
}
.EVA span{
    /* background-color:green; */
    color: black;
    font-size: 1.50rem;
}
.vegan{
        padding-left: 50px;
        margin-top: 20px;

}
.paleo{
        padding-left: 100px;
        margin-top: 20px;

}
.EVA p{
    color: black;
    font-size: 2.25rem;
    margin-top: 20px;
    padding-left: 60px;

}
.fas{
    display: flex;
    margin-bottom: 25px;
}
/* .EVA{
    display: flex;
    margin-bottom: 20px;
} */



.contenaire h5 {
color: chocolate;
   margin-top: 70px; 
   padding-left: 70px;
}
.contenaire h1 {
   margin-top: 20px; 
      padding-left: 70px; 
}
.LG{
    padding-left: 70px;
}
.L{
    padding-left: 70px;
}
.S { 
    height: 75px;
    width: 75px;
    border-radius: 76%;
     
}
.H {
    padding-left: 70px;
    margin-top: 20px;
    justify-content: space-around; 
}
.x{
    height: 240px;
    width: 240px;
    padding-left: 15px;
}
.section-A{
    display: flex;
}
.section-B{
    display: flex;
}
.section-C{
    display: flex;
}
.section-D{
    display: flex;
}
.rightside{
    padding-top: 220px;
    
}
.compte h5 {
    color: chocolate;
    margin-top: 70px; 
    padding-left:50px;
}
.compte h1 {
    margin-top: 70px; 
    padding-left:50px;
}
/* .compte h1 {
    margin-top: 20px; 
    padding-left: 90px;
} */



.contenaire{
    background-color: rgb(203, 198, 191);
    display: flex;
    justify-content: space-between;
    width: 100%; 
    /* padding: 0%; */
}
.lmk{
    /* background-color: yellow; */
    display: flex;
    width: 750px;
    height: 70%;
    margin-left: 13px;
    justify-content: space-between;
   
}
.JJ{
    padding-top: 0;
   
    /* background-color: aqua; */
}
.lmk img{
    border-radius: 50%;
    width: 60px;
    height: 50px;
    margin-top: 150px;
}
.U{
    display: flex;
}
.clg{
    /* background-color: black; */
    width: 100%;
    
    /* display: flex; */
    
}
.kk{
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 300px;
}
  
.LU{
    /* margin-right: 400px; */
    border: 2px solid antiquewhite;
    padding: 40px;
    background-color: rgb(248, 247, 244);
}
.URS{
    /*margin-right: 400px; */
    border: 1px solid brown;
} 

.compte{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
}
 
 .O{
    color: aliceblue;
    background-color: chocolate;
    margin-top: 40px;   
    padding: 10px;
    border-radius: 20px;
    border: none;
 }
 .UR{
     border: 2px solid antiquewhite;
     padding: 40px;
     background-color: antiquewhite;
 }
 .P h5{
     padding-left: 350px;
 }
 .P h2{
    padding-left: 350px;
    margin-top: 20px;
} 
.P h4{
    margin-top: 40px;
    color: chocolate;
}
.P h1{
    margin-top: 50px;
}
.link h6{
    text-align: center;
    margin-top: 100px;
}
.lin {
    /* margin-top: 50px; */
    padding: 120px;
   display: flex;
   justify-content: space-around;
}
.li img{
    height: 40px;
    width: 40px;
    
}
.li h1{
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.li p{
    font-size: 1.50rem;
    margin-bottom: 20px;
}
.le img{
    height: 40px;
    width: 40px;
}

.le h1{
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.le p{
    font-size: 1.50rem;
    margin-bottom: 20px;
}
.lo img{
    height: 40px;
    width: 40px;
}
.lo h1{
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.lo p{
    font-size: 1.50rem;
    margin-bottom: 20px;
}
.lr img{
    height: 40px;
    width: 40px;
}
.lr h1{
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.lr p{
    font-size: 1.50rem;
    margin-bottom: 20px;
}
.footer{
    padding: 50px;
    background-color: antiquewhite;
    display: flex;
    padding: 70px;
   justify-content: space-evenly;
    
}
.img-footer img{
    height: 2.2rem;
margin-bottom: 50px;
}


.social{
    margin-bottom: 25px;
}
.social i{
    display: inline-flex;
   align-items: center; 
   justify-content: center;
   width: 40px;
   height: 40px;
   color: var(--main-color);
   border-radius: 50%;
   backdrop-filter: brightness(88%);
   font-size: 20px;
   margin-right: 17px;
   box-shadow: 0 0 20px transparent;
   cursor: pointer;
   transition: all.50s ease;
}
.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}
.RA h6{
font-size: 2rem;
margin-bottom: 45px;
}
.rachi h6{
    font-size: 2rem;
}
.rachid h6{
    font-size: 2rem;
    margin-bottom: 10px;
    }  
.RACHI h6{
    font-size: 2rem;
    margin-bottom: 10px;
    }






/*responsive*/
@media all and (max-width: 300px) {
    header {
        background: transparent;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
        color: black;
    }
    .logo {
        position: relative;
        z-index: 20;
    }
    .ouvrir {
        display: block;
    }
    
    .fermer {
        display: none;
    }
    
    .open .ouvrir {
        display: none;
    }
    
    .open .fermer {
        display: block;
    }
    
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: black;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .menu li a {
        font-size: 2rem;
    }
    .btn {
        font-size: 2rem;
    }
    
    .open .menu {
        transform: translateX(0);
} 
}
    
/* responsive de 300 */
/* responsive de 300 */
/* responsive de 300 */

@media all and (max-width: 300px){
    section{
        
       
}
    .span{
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
    }
    .content h1{
        font-size: 90px;
    }
    .content p{
        font-size: 55px;
    }
    .span span{
        font-size: 50px;
    }
    .Z{
        width: 100%;
        font-size: 50px;
    }
    .B{
        width: 100%;
        flex-direction: column;
        /* flex-flow: wrap; */
        height: 100%;
    }
    .B img{
        padding: 10px;
    }
    section h5{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 50px;
        margin-bottom: 70px;
    }
    section .k{
        margin-bottom: 50px;
        
    }
    .djami{
        width: 100%;
    flex-direction: row;
    flex-flow: wrap;
    
    }
    .djami .D p{
        font-size: 55px;
        padding: 45px;
    }
    .djami .D span{
        font-size: 205px;
        padding: 45px;
    }
    .djami .D h1{
        font-size: 85px;
        padding: 45px;
    }
    .G{
        width: 100%;
        flex-direction: row;
        flex-flow: wrap;
        margin-top: 200px;
    }
    .G .W span{
        font-size: 205px;
        padding: 45px;
    }
    .G .W h1{
        font-size: 85px;
        padding: 45px;
    }
    .G .W p{
        font-size: 55px;
        padding: 45px;
    }
    .faridat{
        width: 100%;
        flex-direction: row;
        flex-flow: wrap;
        margin-top: 70px;
    }
    .faridat .D span{
        font-size: 205px;
        padding: 45px;
    }
    .faridat .D h1{
        font-size: 85px;
        padding: 45px;
    }
    .faridat .D p{
        font-size: 55px;
        padding: 45px;
    }
    .contenaire-1 h6{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 50px;
        margin-bottom: 70px; 
        margin-top: 70px;
    }
    .chadia{
        margin-top: 50px;
        width: 100%;
   }
    .contenair .row{
       
        padding: 70px;
        width: 100%;
        margin-top: 80px;
    }
    .contenair .row .container-2{
        margin-bottom: 100px;
    }
    .contenair .row .container-2 .card-body span{
        font-size: 50px;
        margin-left: 70px;
        
    }
    .contenair .row .container-2 .card-body p{
        font-size: 70px;
    }
    .contenair .row .container-2 .fas i{
        font-size: 70px;
        margin-left: 100px;
    }
    .contenair .row .container-2 .fas span{
        font-size: 50px;
    }
    .contenair .row .container-2 .fas p{
        font-size: 50px;
    }
    .contenair .row .container-2 .ive i{
        font-size: 70px;
        margin-left: 100px;
    }
    .contenair .row .container-2 .ive span{
        font-size: 50px;
    }
    .contenair .row .container-2 .ive p{
        font-size: 50px;
    }
    .contenair .row .container-2 .jup i{
        font-size: 70px;
        margin-left: 100px;
    }
    .contenair .row .container-2 .jup span{
        font-size: 50px;
    }
    .contenair .row .container-2 .jup p{
        font-size: 50px;
    }
    .contenair .row img{
        height: 200%;
        width: 100%;
    }
    .contenair .row .col{
        margin-bottom: 100px;
    }
    .contenair .row .col .card-body span{
        font-size: 50px;
        margin-left: 70px;
        
    }
    .contenair .row .col .card-body p{
        font-size: 70px;
        margin-left: 40px;
    }
    .contenair .row .col .fas i{
        font-size: 75px;
        margin-left: 100px;
    }
    .contenair .row .col .fas p{
        font-size: 50px;
    }
    .contenair .row .col .fas span{
        font-size: 50px;
    }
    .contenair .row .col .ive i{
        font-size: 75px;
        margin-left: 100px;
    }
    .contenair .row .col .ive p{
        font-size: 50px;
    }
    .contenair .row .col .ive span{
        font-size: 50px;
    }
    .contenair .row .col .jup i{
        font-size: 75px;
        margin-left: 100px;
    }
    .contenair .row .col .jup p{
        font-size: 50px;
    }
    .contenair .row .col .jup span{
        font-size: 50px;
    }
    .contenair .row .container-3{
        background-color: aqua;
        margin-bottom: 40px;
    }
    .contenair .row .container-3 h1{
        font-size: 80px;
    }
    .contenair .row .container-3 .R i{
        font-size: 75px;
        margin-left: 100px;
    }
    .contenair .row .container-3 .R p{
        font-size: 50px;
    }
    .contenair .row .container-3 .E i{
        font-size: 75px;
        margin-left: 100px;
    }
    .contenair .row .container-3 .E p{
        font-size: 50px;
    }
.LN{ 
     width: 100%;
} 
.NL{
 font-size: 60px;
}
.lmk{
   width: 100%;
    flex-direction: column;
    font-size: 45px;
    text-align: center;
    margin-bottom: 100px;
    
}
.lmk img{
    width: 200px;
    height: 150px;
}
.JJ{
}
.contenaire{
    flex-direction: column;
    padding: 50px;
    width: 100%;
}
.img{
    flex-direction: row;
    flex-flow: wrap;
    
}
.img img{
    width: 100%;
    height: 100%;
    padding: 60px;
}
.P h5{
    margin-top: 50px;
    width: 100%;
    padding: 0;
    text-align: center;
}
.P h2{
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    font-size: 50px;
}
.kk{
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    margin: 0;
    padding: 100px;
}
.kk .LU{
    width: 100%;
    font-size: 60px;
    margin-bottom: 70px;
}
.LU h4{
    font-size: 80px; 
}
.LU h1{
    font-size: 70px; 
}
.kk .UR{
    width: 100%;
    font-size: 60px;
}
.UR h4{
    font-size: 80px; 
}
.UR h1{
    font-size: 70px; 
}
.link{
    width: 100%;
    
}

.link h6{
    width: 100%;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    font-size: 60px;
}
.lin{
    width: 100%; 
     font-size: 45px;
     text-align: center;
     margin-bottom: 100px;
     flex-direction: column;
     /* padding-left: 200%; */
 }
.lin img{
    width: 200px;
    height: 150px;
}
.li h1{
    font-size: 40px;
    margin-bottom: 60px;
}
.le h1{
    font-size: 40px;
    margin-bottom: 60px;
}
.lo h1{
    font-size: 40px;
    margin-bottom: 60px;
}
.lr h1{
    font-size: 40px;
    margin-bottom: 60px;
}

.fan {
    flex-direction: column;
    padding-left: 0;
}

.fa img {
    width: 150px;
}

}

/* responsive de 300 */
/* responsive de 300 */
/* responsive de 300 */
